@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';
@import '../../styles/buttons';

@keyframes slide-up {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
}

.email-signup {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: msRem(-1);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  @include mq(m) {
    padding: msRem(3);
  }
  
  &__close {
    position: absolute;
    top: 0;
    right: #{ms(1) / 2}rem;
    background: #c8c8c8;
    border-radius: 50px;
    padding: msRem(-5);
  }
  
  &__msg {
    display: block;
    max-width: 360px;
    padding: msRem(-1);
    background: white;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .2);
    animation: slide-up 300ms both 1;
    
    p { 
      margin: 0;
      font-size: msRem(-1);
     }
    p + p { margin-top: msRem(1); }
  }
  
  &__yes-no {
    margin-top: msRem(2);
    text-align: center;
    
    .button + .button {
      margin-left: msRem(1);
    }
  }
  
  &__email-invalid {
    display: block;
    margin-top: msRem(-2);
    width: 100%;
    color: $clr-error;
    font-size: msRem(-2);
    text-align: center;
  }
  
  &__input {
    margin-top: msRem(1);
    
    &-form {
      display: flex;
      justify-content: space-between;
    }
    
    p {
      font-weight: bold;
      margin-bottom: msRem(-5);
    }
    
    input, button {
      font-size: 1rem;
    }
    
    input {
      flex: 1 0 auto;
      max-width: 210px;
      border: 1px solid black;
      padding: msRem(-10);
      border-radius: 50px;
      outline: none;
      
      &:focus {
        border-color: $clr-blue;
      } 
    }
    
    
  }
}
