@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/ms';

.input-field {
  
  &--invalid &__input {
    border-color: $clr-red;
  }
  
  &--invalid &__label::after {
    content: '';
    display: block;
    position: absolute;
    top: -5px; left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $clr-red;
  }
  
  
  &__label {
    position: relative;
    display: block;
    font-size: msRem(-1);
    font-weight: $ff-regular;
  }
  
  &__input {
    display: block;
    width: 100%;
    padding: msRem(-9);
    background: transparent;
    border: none;
    border-bottom: 3px solid black;
    font-weight: $ff-medium;
  }
  
  &__invalid-message {
    font-size: msRem(-1);
    color: $clr-red;
  }
}
