@import '../../styles/colors';
@import '../../styles/mq';
@import '../../styles/ms';

.book-viewing {
  background: $clr-yellow;
  padding: msRem(1);
  
  @include mq(m) {
    padding: msRem(4) msRem(7);
  }
  
  &__title,
  &__smallprint {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  &__title {
    margin-bottom: msRem(4);
  }
  
  &__smallprint {
    margin-top: msRem(2);
  }
  
  &__form {
    .binary-switch {
      margin: 0 auto;
    }
    
    .input-field {
      margin-top: 1rem;
    }
    
  } 
  
  &__error {
    background: $clr-red;
    color: white;
    margin-top: msRem(2);
    padding: msRem(-2);
    border-radius: 1rem;
  }
  
  &__submit {
    margin-top: msRem(2);
  } 
}


.booked-viewing {
  background: $clr-yellow;
  padding: msRem(1);
  text-align: center;
  
  @include mq(m) {
    padding: msRem(4) msRem(7);
  }
  
  h2 {
    font-size: msRem(3);
  }
  
  .button {
    margin-top: msRem(2);
  }
}
