doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title || "LiveWork"
  
    //- Load fonts
    link(href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700" rel="stylesheet")

    //- Twitter BS
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:creator" content="@__nosaj")
    
    //- Metas
    meta(name="application-name" content="LiveWorkSearch")
    meta(name="apple-mobile-web-app-title" content="LiveWorkSearch")
    meta(name="theme-color" content=themeColor || "#1b1b1b")
    meta(name="msapplication-navbutton-color" content=themeColor || "#1b1b1b")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="msapplication-starturl" content="/")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      
    //- Google webmasters
    meta(name="google-site-verification" content="AMEAUbOGV35rCanrMMU2aayCEBaATaectJl1DF18YAU")
      
    //- Opengraph stuff
    meta(name="og:title" property="og:title" content=title || "Find your perfect Livework space!")
    if ogImage
      meta(name="og:image" property="og:image" content=ogImage)
    if ogDescription
      meta(name="og:description" property="og:description" content=ogDescription)

    //- Load mapbox css
    link(href="https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css" rel="stylesheet")
    link(rel="stylesheet" href="/app.css")
      
    //- Lean styles for this page only
    style.
      .app-loading-placeholder {
        position: fixed;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6e75e;
      }
  body
    div#app 
      div.app-loading-placeholder
    script(src="/app.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-71692329-5")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-71692329-5');
