html
  head
    style.
      html {
        font: 18px/1.414 'Helvetica', 'Arial', sans-serif;
      }
      
      body {
        margin: 20px;
      }
      
      .mail-body {
        max-width: 500px;
        width: 100%;
      }
  body
    p.mail-body
