@import '../../styles/mq';

.x-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotate(45deg);
  
  &__a,
  &__b {
    position: absolute;
    top: 0;
    left: calc(50% - 1.5px);
    display: block;
    width: 3px;
    height: 20px;
    background: black;
    border-radius: 10px;
    transform-origin: center;
  }
  
  &__b { transform: rotate(90deg); }
}
