@import './ms';
@import './mq';
@import './fonts';
@import './colors';
@import './easing';

@mixin reset-button {
  border: none;
}

@mixin base-button {
  display: inline-flex;
  align-items: center;
  border: 2px solid black;
  background: white;
  padding: msRem(-7) msRem(1);
  border-radius: 50px;
  color: black;
  text-decoration: none;
  font-weight: $ff-medium;
  transition: all 200ms $easeOutExpo;
  cursor: pointer;
  
  @include mq(m) {
    
  } 
}

.button {
  @include base-button;
  display: inline-block;
  text-align: center;
  
  &:hover {
    border-color: black;
  }
}

.button--black {
  background: black;
  color: white;
  
  &:hover { background: lighten(black, 12%); }
}

.button--block {
  display: block;
  width: 100%;
}

.button--round {
  @include reset-button;
  padding: msRem(-10) msRem(2);
  border-radius: 50px;
}

.button--blue {
  @include reset-button;
  background: $clr-blue;
  color: white;
  &:hover {
    background: darken($clr-blue, 15%);
  }
}

.button--positive {
  @include reset-button;
  color: white;
  background: $clr-green;
  &:hover {
    background: darken($clr-green, 15%);
  }
}

.button--neutral {
  @include reset-button;
  color: white;
  background: $clr-grey;
  &:hover {
    background: darken($clr-grey, 15%);
  }
}
