$clr-yellow: #f6e75e;
$clr-light-blue: #4670E2;
$clr-purple: #7033CD;
$clr-blue: #263ac1;
$clr-red: #c71c1c;
$clr-green: #45aa43;
$clr-grey: #909090;
$clr-grey-light: lighten(#909090, 30%);

// Abstracted colors
$clr-error: $clr-red;
