/**!
 * MediaQuery helpers made into variables
 */

$mq-phone-only: "screen and (min-width: 0px) and (max-width: 768px)" !default;
$mq-phone-up: "screen and (min-width: 320px)" !default;

$mq-tablet-only: "screen and (min-width: 768px) and (max-width: 1024px)" !default;
$mq-tablet-up: "screen and (min-width: 768px)" !default;

$mq-desktop-only: "screen and (min-width: 1024px) and (max-width: 1400px)" !default;
$mq-desktop-up: "screen and (min-width: 1024px)" !default;

$mq-hd-up: "screen and (min-width: 1400px)" !default;

@mixin mq($scale) {
  $query: $mq-desktop-up;
    @if $scale == so {
      $query: $mq-phone-only;
    }
    @if $scale == s {
      $query: $mq-phone-up;
    }
    @if $scale == mo {
      $query: $mq-tablet-only;
    }
    @if $scale == m {
      $query: $mq-tablet-up;
    }
    @if $scale == lo {
      $query: $mq-desktop-only;
    }
    @if $scale == l {
      $query: $mq-desktop-up;
    }
    @if $scale == hd {
      $query: $mq-hd-up;
    }
  @media #{$query} {
    @content;
  }
}
