@import './ms';
@import './mq';
@import './colors';
@import './fonts';

@mixin base-font-stack {
  font: 400 1rem/1.5 $ff-body;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 17px;
  @media #{$mq-tablet-up} {
    font-size: 20px;
  }
}

body,
input,
select,
button {
  @include base-font-stack;
}

// Reset all headings in the app
h1, h2, h3, h4, h5, h6 {
  display: block;
  font: 600 msRem(1) $ff-headings;
  margin: 0;
}
