@import '../../styles/ms';
@import '../../styles/colors';

$clr-private: $clr-yellow;
$clr-shared: $clr-purple;

.property-marker {
  padding-bottom: 20px;
  cursor: pointer;
  transform: translateY(-40%);
  
  &__contents {
    position: relative;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    padding: msRem(-14) msRem(-10);
    background: $clr-private;
    color: black;
    font-size: msRem(-2);
    text-align: center;
    
    .property-marker--shared & {
      background: $clr-shared;
      color: white;
    }
  }
  
  // The arrow
  &::after {
    content: '▼';
    display: block;    
    position: absolute;
    left: 0; bottom: 0;
    z-index: 20;
    color: $clr-private;
    width: 100%;
    height: 20px;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,.25);
    overflow: hidden;
    
    .property-marker--shared & {
      color: $clr-shared;
    }
  }
  
  &__price {
    font-weight: 700;
    em {
      font-size: msRem(-2);
      font-style: normal;
    }
  }
  
  &__secondary {
    font-size: msRem(-3);
  }
}
