@import '../../styles/ms';

.transport-links {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-height: 134px;
  font-size: msRem(-2);
  
  .tube-lines {
    
  }
  
  .tube-line,
  .busses,
  .national-rail,
  .overground {
    border-radius: 10px;
    padding: msRem(-15) msRem(-6);
    margin-top: msRem(-15);
  }
  
  .busses {
    background: #af2814;
    color: white;
  }
  
  .national-rail {
    background: #ED1C24;
    color: white;
  }
  
  .overground {
    background: #EF7E0B;
    color: white;
  }
}
