@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';

.binary-switch {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 400px;
  
  &--invalid &__switch {
    border-color: $clr-red;
  }
  
  &__switch {
    display: block;
    width: 50%;
    background: white;
    padding: msRem(2) msRem(3);
    cursor: pointer;
    border: 3px solid black;
    
    &:hover {
      background: darken(white, 7%);
    }
  }
  
  &__switch--a {
    border-radius: 100px 0 0 100px;
    border-right-width: 1px;
  }
  
  &__switch--b {
    border-radius: 0 100px 100px 0;
  }
  
  &__switch--selected {
    background: $clr-light-blue;
    color: white;
    &:hover {
      background: darken($clr-light-blue, 10%)
    }
  }
  
}
