@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes pop-up {
  from { 
    transform: perspective(500px) translateZ(-300px);
    opacity: 0;
  }
}


// For applying to scrollable elements behind the modal when the modal is open
.freeze-scroll {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 15000;
  top: 0; left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: msRem(1);
  pointer-events: all;
  animation: fade-in 100ms 1 both;
  overflow-y: scroll;
  
  @include mq(m) {
    justify-content: center;
    align-items: center;
  }
  
  &__close {
    width: 100%;
    max-width: 600px;
    margin-bottom: msRem(1);
    
    .x-icon {
      background: black;
      border: black 10px solid;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      
      .x-icon__a,
      .x-icon__b { background: white; }
    }
  }
  
  &__background  {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
  }
  
  &__contents {
    position: relative;
    z-index: 16000;
    width: 100%;
    background: white;
    border-radius: msRem(4);
    border: 3px solid black;
    box-shadow: 5px 5px 0 black;
    animation: pop-up 200ms 1 both;
    
    @include mq(m) {
      max-width: 600px;
    }
    
    > .modal-frame {
      border-radius: msRem(4);
    }
  }
}
