@import '../../styles/colors';
@import '../../styles/easing';
@import '../../styles/mq';
@import '../../styles/ms';

@keyframes pulse {
  50% {
    fill: darken($clr-yellow, 50%);
  }
}

.search-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  &--is-loading {
    .properties-map {
      visibility: hidden;
    }
  }
  
  &__loading {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: $clr-yellow;
  }
  
  &__loading-text {
    padding-top: msRem(4);
    font-weight: 600;
  }
  
  &__loading .buildings {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 400px;
    height: 58px;
    
    .buildings__1,
    .buildings__2,
    .buildings__3,
    .buildings__4,
    .buildings__5 {
      display: block;
      padding: msRem(1);
      svg path {
        animation: pulse 1s both infinite $ease-bounce;
        fill: darken($clr-yellow, 20%);
      }
    }
    
    .buildings__1 svg path { animation-delay: 0s; }
    .buildings__2 svg path { animation-delay: .4s; }
    .buildings__3 svg path { animation-delay: .8s; }
    .buildings__4 svg path { animation-delay: 1s; }
    .buildings__5 svg path { animation-delay: 1.2s; }
    
    // Hide some buildings on mobile to save on space
    .buildings__4,
    .buildings__5 { display: none }
    
    @include mq(l) {
      .buildings__4,
      .buildings__5 { display: block }
    }
  }
}
