@import '../../styles/easing';
@import '../../styles/ms';

.property-gallery {
  position: relative;
  width: 100%;
  min-height: 200px;
  border-radius: msRem(1);
  overflow: hidden;
  
  img {
    display: none;
    width: 100%;
    height: auto;
  }
  
  img.show {
    display: block;
  }
  
  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  &__back,
  &__forwards {
    width: 50%;
    height: 100%;
    cursor: pointer;
    transition: all 200ms;
  }
  
  &__back {
    background: no-repeat url('/assets/icons/lt-arrow.svg') 10px center / 20px auto;
    &:hover { background-position: 5px center; }
  }
  
  &__forwards {
    background: no-repeat url('/assets/icons/gt-arrow.svg') calc(100% - 10px) center / 20px auto;
    &:hover { background-position: calc(100% - 5px) center; }
    
  }
}
