@import '../../styles/ms';
@import '../../styles/fonts';
@import '../../styles/colors';

.mapboxgl-map {
  // Override mapbox fonr
  font-family: $ff-body;
}

.properties-map {
  width: 100%;
  height: 100%;
  
  &--disable {
    pointer-events: none;
  }
}

.mapboxgl-marker {
  position: absolute;
}
