@import '../../styles/ms';
@import '../../styles/mq';

.picture-gallery {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  
  img {
    display: block;
    width: 100%;
    height: auto;
    
    @include mq(l) {
      
    }
  }
  
}
