@import '../../styles/ms';
@import '../../styles/colors';

.app-header {
  position: fixed;
  z-index: 1000; // Make it greater than the markers
  top: 0; left: 0;
  width: 100%;
  padding: msRem(-5); 
  pointer-events: none;
  
  &__logo {
    display: inline-block;
    font-size: msRem(-1);
    background: $clr-yellow;
    border: 3px solid black;
    border-top-width: 1px;
    border-left-width: 1px;
    padding: msRem(-10) msRem(-8);
    border-radius: 5px;
  }
  
  .version {
    font-size: msRem(-4);
    vertical-align: super;
    color: darken($clr-yellow, 40%);
    font-weight: normal;
  }
}
