@import '../../styles/ms';
@import '../../styles/buttons';

.icon-button {
  @include base-button;
  flex-flow: row nowrap;
  
  &:hover {
    background: darken(white, 7%);
  }
  
  & + & {
    margin-left: msRem(1);
  }
  
  // Use pseudo before element for icon 
  // NOTE: the icon height must remain constant so buttons aren't all different 
  // heights
  &::before {
    content: '';
    flex: 1 0 auto;
    display: block;
    width: 1rem;
    height: auto;
    min-height: msRem(-1);
    margin-right: msRem(-1);
  }
  
  // Specific icon styles
  &--share::before {
    width: msRem(1);
    background: no-repeat url('/assets/icons/share.svg') 0 center / 100% auto;
  }
  
  &--viewing::before {
    width: msRem(-1);
    background: no-repeat url('/assets/icons/check.svg') 0 center / 100% auto;
  }
  
  &--link::before {
    width: msRem(-2);
    background: no-repeat url('/assets/icons/leave.svg') 0 center / 100% auto;
  }
}
