@import '../../styles/easing';
@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';

@keyframes scroll-up {
  0% {
    transform: translateY(60vh);
  }
}

.property-detail {
  position: fixed;
  top: 0; left: 0;
  z-index: 5000; // We need this above everything in the UI
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  overflow: scroll;
}

.property-detail__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  background: white;
  border-radius: msRem(0);
  overflow: hidden;
  box-shadow: 5px 5px 0 black;
  border: 1px solid black;
  animation: scroll-up 200ms 400ms $easeOutExpo both;
}

.property-detail__header {
  padding: msRem(1);
  background: $clr-yellow;
  text-align: center;
  border-bottom: 1px solid black;
  
  .property-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

.property-actions {
  margin-top: msRem(1);
  
  &__action {
    flex: 0 0 auto;
    // 410px is the safe zone for this
    @media screen and (max-width: 410px) {
      margin: 0 auto;
    }
  }
  
  &__action + &__action {
    // 410px is the safe zone for this
    @media screen and (max-width: 410px) {
      margin: 0 auto;
    }
  }
}

.property-detail__body {
  display: flex;
  flex-flow: column-reverse nowrap;
  padding: msRem(1);
  
  @include mq(m) {
    flex-flow: row-reverse nowrap;
  }
}

.property-detail__gallery {
  width: 100%;
  margin-bottom: msRem(2);
  
  @include mq(l) {
    width: 40%;
    margin: 0 msRem(3) 0 0;
  }
}

.property-detail__info {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: 100%;
  
  @include mq(l) {
    width: 60%;
  }
}

.detail-unit {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  align-items: center;
  flex-basis: 50%;
  
  &--divide::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 3px;
    height: 100%;
    background: black;
    border-radius: 40px;
  }
  
  &--wide {
    flex-basis: 100%;
    margin-top: msRem(1);
    border-left: none;
  }
}

.tube {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
